@model WebCustomUser.Models.RegistrationViewModel

@{
    ViewBag.Title = "Registered";
}

<div class="hero-unit">
    <h1>Register success</h1>
    <p class="lead">In a real application we would have sent you an activation email with this activation link. You will not be able
    to log in until the account has been activated.</p>
    <p>@Html.ActionLink("Click to activate", "Activate", new { userId = Model.UserId, token = Model.Token });
</div>

